* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #36393f;
}
.options {
    position: fixed;
    bottom: 0;
    left: 0;
}
.mess {
    background-color: #2f3136;
    border-radius: 5px;
}
.joined {
    display: flex;
    justify-content: center;
    align-items: center;
}
.joined p {
    background-color: #25262a;
    color: white;
    width: fit-content !important;
    border-radius: 50px;
}
.mess span {
    font-weight: bold;
}
.mess p {
    border-radius: 3px;
    color: #dcddde;
    word-break: break-word;
}
.mess small {
    color: #a3a6aa;
}
.options  button {
    background-color: #5865f2;
    border: none;
    outline: 0;
    border-radius: 8px;
    color: #ffffff;
    height: fit-content;
    transition: all 0.3s ease;
    border-top-left-radius: 0;
}
.options textarea {
    background-color: #40444b;
    border-bottom-right-radius: 8px;
    color: #dcd3cb;
    border: 0;
    outline: 0;
    height: fit-content !important;
}
.options textarea:focus {
    border: 0;
    outline: 0;
}
.emoji-btn {
    background-color: #242528 !important;
    height: auto !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 8px !important;
}
button:disabled {
    opacity: 0.6;
}
.list {
    background-color: #242528;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    transition: all 0.3s ease;
    display: grid;
    grid-template-columns: repeat(8, 35px);
    gap: 4px;
    width: fit-content;
    margin-left: 43px;
}
.list button {
    width: 35px !important;
    height: 35px !important;
}